<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Suduko grid</title>
    <link rel="stylesheet" th:href="@{/css/sudoku.css}">
</head>
<body>
<div class="container">
    <a th:href="@{/}" class="back-button">
        <svg xmlns="http://www.w3.org/2000/svg" class="back-button-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="18" height="18">
            <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
        Back
    </a>

    <h1>Sudoku - Level <span th:text="${sudoku.difficulty}">Easy</span></h1>

    <table class="sudoku-grid">
        <tr th:each="row : ${sudoku.grid}">
            <td th:each="cell : ${row}"
                th:text="${cell != 0 ? cell : ''}"
                th:classappend="${cell != 0 ? 'filled' : 'empty'}">
            </td>
        </tr>
    </table>
    <a th:href="@{/}" class="btn">New grid</a>
</div>
</body>
</html>